# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.env
.venv/
venv/

# Poetry
poetry.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Output
output/
